{% extends 'base/course_base.html' %}

{% block title %}My Classes{% endblock %}

{% block body %}

<style>
    h1{
        margin-bottom: 30px;
        margin-top: 40px;
    }

    h3{
        margin-bottom: 20px;
    }

    /*.col-4{
        border: 1px solid black;
    }*/

    table{
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
    }
    
    thead{
        background-color: #337137;
        color:white;
        font-weight: bold;
    }

    td{
        border: 1px solid black;
        padding:15px;
        text-align: center;
    }

    .class_button{
        color: black;
    }
    
    /*.class_button:hover{
        color: black;
    }*/
</style>

<div class="row">
    <div class="col-8">
        <div class="container" style="text-align: center; padding-top: 40px; padding-bottom: 40px;">
            <h1><span style="color:#337137;">My Classes</span></h1> 

            <a style="background-color:#337137; border-color: #337137;" class="btn btn-primary" href="/addclass" role="button">+ Add Class</a>

            <table id="classes_table" style="margin-top: 20px;">
                <thead>
                    <tr>
                    <td>Course</td>
                    <td>Name</td>
                    <td>Section</td>
                    <td>Credits</td>
                    <td>Schedule</td>
                    <td>Classroom</td>
                    <td>Professor</td>
                    </tr>
                </thead>
        
                {% for class in classes %}
                    <tr>
                        <td><a class = "class_button" href="/myclasses/{{class.course_code}}">{{class.course_code}}</a></td>
                        <td><a class = "class_button" href="/myclasses/{{class.course_code}}">{{class.course_name}}</a></td>
                        <td>{{class.section}}</td>
                        <td>{{class.credits}}</td>
                        <td>{{class.schedule}}</td>
                        <td>{{class.classroom}}</td>
                        <td>{{class.professor}}</td>
                    </tr>
            
                {% endfor %}
            
            </table>
        </div> 
    </div>

    <div class="col-4">
        <div class="container" style="text-align: center; padding-top: 80px; padding-bottom: 40px;">
            <h3><span style="color:#337137;">Calendar</span></h3>

            <!-- Import js file from CDN -->
            <script src="https://cdn.jsdelivr.net/npm/color-calendar@1.0.5/dist/bundle.js"></script>

            <!-- Link css file from CDN -->
            <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/color-calendar@1.0.5/dist/css/theme-basic.css"
            >
            <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/color-calendar@1.0.5/dist/css/theme-glass.css"
            >

            <!-- Import fonts from Google Fonts -->
            <link
                href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
                rel="stylesheet"
            >
            <link
                href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
                rel="stylesheet"
            >

            <div id="calendar"></div>

            <p style="margin-top: 20px;" id="calendar_event">Current Event</p>

            <script>
                //<p style="margin-top: 20px;" id="calendar_date">Current Date</p>
                //let calendar_date = document.getElementById("calendar_date");
                let calendar_event = document.getElementById("calendar_event");
                
                let cal = new Calendar({
                id: "#calendar",
                theme: "basic",
                primaryColor: "#337137",
                headerColor: "#337137",
                weekdayType: "short",
                border: "5px solid rgba(0, 0, 0, 0.1)",
                eventsData: [
                    {
                    id: 1,
                    name: "French class",
                    start: "2021-12-07T06:00:00",
                    end: "2021-12-08T06:00:00"
                    },
                    {
                    id: 2,
                    name: "Blockchain 101",
                    start: "2021-12-07T06:00:00",
                    end: "2021-12-08T06:00:00"
                    },
                    {
                    id: 3,
                    name: "Other Event",
                    start: "2021-10-07T06:00:00",
                    end: "2021-10-07T06:00:00"
                    }
                ],
                dateChanged: (currentDate, events) => {
                    //calendar_date.textContent =  currentDate;

                    calendar_event.textContent = "Entries: ";

                    if(events.length > 0){
                        calendar_event.textContent += events[0]["name"];
                        for(let i=1; i<events.length; i++){
                            calendar_event.textContent += ", " + events[i]["name"];
                        }
                    }
                    else{
                        calendar_event.textContent += "None";
                    }

                },
                monthChanged: (currentDate, events) => {
                    //console.log("month change", currentDate, events);
                }
                });

            </script>
        </div>
    </div>
</div>

{% endblock %}
