{% extends 'base/base.html' %}

{% block body %}

<style>
    #title{
        margin-top: 60px;
        text-align: center;
    }

    .body{
        margin-top: 80px;
        font-size: large;
        font-weight: bold;
    }
</style>

<div id="title" class="container-fluid">
    <h1><span style="color:#337137;">UPRM</span> Organizer</h1>
    <h3>A platform made by students, for students</h3>
    <p class="body">
        This platform was created in 2021 by UPRM software engineering students as part of a project for the course INSO4101 - Introduction to Software Engineering. <br>
        Its purpose is to improve the academic performance of UPRM students in general, and to provide information to freshmen that are beginning their academic careers. 
    </p>
</div>

{% endblock %}